body{
    margin: 20px;
    padding: 0;
}

.card{
    width: 20%;
    margin: 3px;
    background-color: aliceblue;
}
.contract{
    background-color: black;
    color: white;
    text-align: center;
}
.contract:hover{
    cursor: pointer;
    opacity: 0.7;
}
.container{
    padding: 30px;
}
.icons:hover{
    opacity:0.7;
}
.fa{
    color: black;
    text-align: center;
    padding: 2px;
}
.fa:hover{
    color:coral;
}
.card:hover{
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.7);
}
img{
    height: 150px;
}